<div class="ftco-footer-widget mb-4">
    <h2 class="ftco-heading-2">Newsletter</h2>
    <p>Çok uzaklarda, dağların arkasında, ülkelerden çok uzakta.</p>
    <form action="#" class="subscribe-form">
        <div class="form-group">
            <input type="text" class="form-control mb-2 text-center" placeholder="Mail Addresinizi Giriniz!">
            <input type="submit" value="Abone Ol" class="form-control submit px-3">
        </div>
    </form>
</div>
