@model List<TasteFoodIt.Entities.OpenDayHour> 

    <div class="ftco-footer-widget mb-4">
        <h2 class="ftco-heading-2">Çalışma Saatlerimiz</h2>
        @foreach (var item in Model)
        {

        <ul class="list-unstyled open-hours">
            <li class="d-flex"><span>@item.DayName</span><span>@item.OpenHourRange</span></li>
            
        </ul>
        }
    </div>

