
<div class="col-md-6 col-lg-3">
    <div class="ftco-footer-widget mb-4">
        <h2 class="ftco-heading-2">Taste.it</h2>
        <p>Köklerimizi oluşturan derin geleneklerimiz ve geçmişten günümüze aktarılan eşsiz tariflerimizle, lezzet dünyasına benzersiz bir katkı sunmaktan gurur duyuyoruz. Geleneksel malzemeleri modern ve yaratıcı dokunuşlarla birleştirerek ortaya çıkardığımız lezzetleri siz değerli müşterilerimize sunarak, damaklarınızı unutulmaz bir yolculuğa çıkarıyoruz</p>
        <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
            <li class="ftco-animate"><a href="https://twitter.com/home?lang=tr"><span class="fa fa-twitter"></span></a></li>
            <li class="ftco-animate"><a href="https://www.facebook.com/"><span class="fa fa-facebook"></span></a></li>
            <li class="ftco-animate"><a href="https://www.instagram.com/?hl=tr&ysclid=ltcim4gyfy334600905"><span class="fa fa-instagram"></span></a></li>
        </ul>
    </div>
</div>

